.service{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap:40px
}

.service-content h1{
          color: #141414;
          font-size: 2rem;
          font-weight: 600;
}

.service-content{
          line-height: 1.35rem;
          padding: 1rem;
}

.service-content mark{
          background-color: #FFFFFF;
          font-size: 2rem;
          font-weight: 600;

}

.service-content p{
          color: #6b6b6b;
          font-size: 1em;
          font-weight: 500;
          line-height: 1.75em;
          text-transform: none;
}


.service-item h2{
          color:#141414;
          line-height: 1.35;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
}

.service-header{
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 14px 26px 0 #d9e2f3;
    font-weight: bolder;
    padding: 8px 20px 8px 50px;
    color: #6b6b6b;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.service-image{
          margin: auto;
}

.filter{
          width: 390px;
          border-radius: 12px;
          box-shadow: #6b6b6b 4px 4px ;
          
          
}

@media screen and (max-width:640px) {
          .service{
                    grid-template-columns: 1fr;
          }
          .service-content h1{
                    color: #141414;
                    font-size: 1.5rem;
                    font-weight: 600;
          }
          .service-image{
                    margin: auto;
          }

          .service-header{
                    margin: 1rem;
          }

          .filter{
                    margin-left: 4rem;
                    width: 250px;
          }
          
          .service-content{
                    line-height: 1.65rem;
                    margin-left: 2px;
          }
          
          .service-content mark{
                    background-color: #FFFFFF;
                    font-size: 1.5rem;
                    font-weight: 600;
          
          }

          .service-content h2{
                    font-size: 1.1rem; 
          }
}